<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenwen.blog.mapper.ArticleMapper">

    <sql id="allArticle">
        `article_name`,
        `article_description`,
        `article_body`,
        `classify_name`,
        `user_id`,
        `add_time`,
        `update_time`,
        `deleted`,
        `star_num`,
        `comment_num`,
        `collect_num`,
        `star_status`,
        `comment_status`,
        `collect_status`,
        `article_img_url`,
        `article_flag`
    </sql>
<!--    添加文章数据-->
    <insert id="addArticle" useGeneratedKeys="true" keyProperty="articleId">
        INSERT INTO `poesy_life`.`blog_article` (
            <include refid="allArticle"></include>
        )
        VALUES
            (
                #{articleName},
                #{articleDescription},
                #{articleBody},
                #{classifyName},
                #{userId},
                #{addTime},
                #{updateTime},
                #{deleted},
                #{starNum},
                #{commentNum},
                #{collectNum},
                #{starStatus},
                #{commentStatus},
                #{collectStatus},
                #{articleImgUrl},
                #{articleFlag}
            );
    </insert>

    <select id="listSearchOfName" resultType="com.wenwen.blog.entity.response.ArticleResponse">
        select * from blog_article
        <where>
            <if test="classifyId != null and classifyId > 0">
                classify_id = #{classifyId}
            </if>
            <if test="userId != null and userId > 0">
                and user_id = #{userId}
            </if>
            <if test="search != null">
                and article_name like #{search}
            </if>
            and deleted = 0
            </where>
            order by add_time
        limit #{offset} , #{pageSize};
    </select>

    <select id="countForSearchOfName" resultType="java.lang.Integer">
        select count(1) count from blog_article
        <where>
            <if test="classifyId != null and classifyId > 0">
                classify_id = #{classifyId}
            </if>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="search != null">
                and article_name like #{search}
            </if>
            and deleted = 0
        </where>
    </select>

    <update id="deleteOne">
        update blog_article set deleted = 1 where article_id = #{articledId};
    </update>

    <select id="listTop9ArticleName" resultType="java.lang.String">
        select article_name from blog_article where deleted = 0 order by star_num desc limit 9;
    </select>

    <select id="getArticle" resultType="com.wenwen.blog.entity.response.ArticleResponse">
        select * from blog_article where article_id = #{articledId};
    </select>
</mapper>
