<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenwen.blog.mapper.ClassifyMapper">
    <select id="listClassifyByUserId" resultType="com.wenwen.blog.entity.Classify">
        select a.classify_id, a.classify_name, count(1) count
        from blog_classify a
                 left join blog_article b on a.classify_id = b.classify_id
        <where>
            <if test="userId != null and userId > 0">
                a.user_id = #{userId}
            </if>
        </where>
        group by a.classify_id, a.classify_name
        order by count desc
    </select>

<!--    获取分类名对应的信息-->
    <select id="getClassifyInfoByNameAndUserId" resultType="com.wenwen.blog.entity.Classify">
        select * from blog_classify where classify_name = #{classifyName} and user_id = #{userId};
    </select>

    <delete id="deleteOverClassify">
        delete
    </delete>

<!--    根据用户分类获取该用户文章列表-->
    <select id="listArticleFromClassifyId" resultType="com.wenwen.blog.entity.Article">
        select * from blog_article
        where
            user_id = #{userId} and classify_id = #{classifyId} and deleted = 0;
    </select>
</mapper>
