<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenwen.blog.mapper.ResArticleClassifyMapper">

    <select id="listClassifyByArticleId" resultType="java.lang.Integer">
        select classify_id from blog_res_article_classify where article_id = 1;
    </select>

    <insert id="insertList">
        insert into blog_res_article_classify (`article_id`, `classify_id`, `deleted`, `add_time`, `update_time`)
        values
        <foreach collection="resList" item="item" separator=",">
            (#{item.articleId},#{item.classifyId},#{item.deleted},#{item.addTime},#{item.updateTime})
        </foreach>
    </insert>
</mapper>
