<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenwen.blog.mapper.ResArticleClassifyMapper">
    <select id="listArticleFromClassifyId" resultType="com.wenwen.blog.entity.Article">
        select a.* from blog_res_article_classify res
            LEFT JOIN blog_article a on res.article_id = a.article_id
        where
            a.user_id = #{userId} and res.classify_id = #{classifyId} and a.deleted = 0;
    </select>
</mapper>
